*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #c9e4f6;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    background-color: #c6e0f2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.navbar .logo a{
    text-decoration: none;
}
.navbar .logo img{
    width: 70px;
}
.body-part{
    width: 100%;
    max-width: 500PX;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.body-part .inputContainer{
    display: block;
}
.body-part form{
    border: 3px solid #0d3852;
    padding: 15px;
    border-radius: 15px;
}
form .input-nameReg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-nameReg .batch-sec{
    display: flex;
    align-items: center;
}
.input-nameReg .reg-sec{
    display: flex;
    align-items: center;
}
.input-nameReg input[type="text"]{
    font-size: 14px;
    padding: 5px;
    outline: none;
    border: none;
    margin: 15px 10px;
}
h1{
    text-align: center;
    font-weight: 500;
    padding-bottom: 25px;
    font-size: 40px;
}
label{
    font-size: 16px;
    font-weight: bold;
}
form input[type="text"]{
    width: 100%;
    font-size: 14px;
    padding: 5px;
    outline: none;
    border: none;
    margin-bottom: 15px;
}
input[type="file"]{
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
}
#genbtn{
    padding: 8px;
    font-size: 16px;
    background-color: #024d7b;
    border-radius: 8px;
    color: white;
    border: none;
    margin-left: 35%;
}
#genbtn:hover{
    cursor: pointer;
    background-color: #0d3852;
}

/* ********  GENERATED ID CARD   ********** */

.body-part .container{
    display: none;
}

.body-part .output{
    width: 100%;
    max-width: 450px;
    height: 100vh;
    max-height: 300px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: white;

}
#heading-part{
    display: flex;
    justify-content: space-between;
}
#heading-part .student-name p{
    font-weight: 400;
    font-weight: bold;
    padding: 2px;
}
#heading-part .logo img{
    width: 200px;
}
#body-part{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.address{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#body-part .photo img{
    width: 110px;
    height: 130px;
    z-index: -1;
    /* margin-right: 20px; */
}
#body-part .address p{
    font-weight: bold;
    font-size: 16px;
}
#body-part .bar-code img{
    width: 50px;
    height: 150px;
    position: relative;
    top: 20px;
}
#footer-part{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: end;
    padding-right: 70px;
    top: -10px;
}
.bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./Images/lpu_background.png);
    background-size: cover;
    opacity: .1;
    top: -1px;
    left: -0.5px;
}

/* ******  FOOTER POSITION OR SIDE   ******** */

.footer-position{
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #c8e3f5;
    gap: 3px;
}
.footer-position .social-icons a{
    text-decoration: none;
    padding: 2px;
}
.footer-position .social-icons a img{
    width: 20px;
}
.footer-position .social-icons a img:hover{
    transform: scale(1.1);
}

/********** Responsive ***********/

@media screen and (max-width: 768px){
    .body-part{
        width: 350PX;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #body-part .photo img{
        width: 100px;
        height: 120px;
        z-index: -1;
    }
    h1{
        font-size: 24px;
    }
    #body-part .address p{
        font-weight: bold;
        font-size: 14px;
    }
    #heading-part .logo img{
        width: 160px;
    }
    #footer-part h4{
        font-size: 14px;
    }
    #footer-part p{
        font-size: 13px;
    }
  }