*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 600px;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: .5px solid black;
    border-radius: 20px;
}
h1{
    text-align: center;
    padding: 20px 0 5px;
}
p{
    text-align: center;
}
form{
    padding-left: 10%;
    margin-top: 20px;
}
.input-box{
    width: 85%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
textarea{
    width: 88%;
    border-radius: 10px;
    padding: 8px;
    outline: none;
    margin-top: 40px;
    font-size: 16px;
}
form input[type="submit"]{
    width: 88%;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(23, 177, 23);
    border-radius: 10px;
    color: black;
    cursor: pointer;
    margin-top: 40px;
}
form input[type="submit"]:hover{
    background-color: rgb(21, 255, 21);
}
h5{
    margin-left: 50px;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
}
a{
    text-decoration: none;
}

